# Ignore specific directories in the root folder
test/docs/modules/
modules/default/
/plugins/
/bin/

**/archive
/archive/
.cache/
# Ignore VSCode workspace settings directory globally
**/.vscode/

# Ignore all node_modules directories recursively
**/node_modules/

# Ignore Mac OS DS_Store files everywhere
**/.DS_Store

TO_DO.md
CHANGES.md
REFERENCE.generated.md
.gitignore
.env
deploy/
exports/
modules/test-001/
/hyperbricks/
rendered/
logs/
